<main class="holder">
    <h2>Gallery</h2>
    <div class="galeria">
        <div class="CajaDeTexto" >
            <p>DIY Keyboards from the community</p>
            
        </div>
        <div class="foto">
            <a href="http://xahlee.info/kbd/fancy_keyboards.html">
                    <img src="images/galeria/ergonomic_keyboard_DIY_58729.jpg" alt="">
            </a>
            
        </div>
        <div class="foto">
            <a href="https://arnmk.com/building-a-dactyl-manuform-with-hot-swappable-sockets/">
                    <img src="images/galeria/1*oaMaxPbLVWpIVhx8sOfnIQ.jpeg" alt="">
            </a> 
        </div>
        <div class="foto">
            <a href="https://zealot.hu/absolem/">
                    <img src="images/galeria/627F1F6F-B62D-499F-9015-95C09DB79916_1_105_c.jpeg" alt="">
        </div>
        <div class="foto">
            <a href="https://medium.com/@kincade/track-beast-build-log-a-trackball-dactyl-manuform-19eaa0880222">
                    <img src="images/galeria/splash.jpg" alt="">
        </div>
        <div class="foto">
            <a href="https://hackaday.com/2021/05/14/go-ape-with-a-banana-macropad/">
                    <img src="images/galeria/banana-keeb-800.webp" alt="">
        </div>
        <div class="foto">
            <a href="https://kbd.news/Chunky-V2-1219.html">
                    <img src="images/galeria/1219.jpg" alt="">
        </div>
        <div class="foto">
           <a href="https://www.billiam.org/2019/05/29/sherbet-an-ergonomic-keypad">
                    <img src="images/galeria/assembly-complete-front.jpg" alt="">
        </div>
        <div class="foto">
           <a href="https://hackaday.com/2021/04/18/this-pineapple-keyboard-is-the-bomb/">
                    <img src="images/galeria/pineapple-800.webp" alt="">
        </div>

    </div>
</main>