
<main class="holder texto">
    <div class="homeimg">
      
    </div>
    <div class="columnas CajaDeTexto">
        <h2>Wellcome to QMk Customs</h2>
        <p>We specialise in materials and manufacture of supplies for ergonomic keyboards, split keyboards and mechanical keyboards in general.  
From 3D printing, PCB electronic design to form factor ergonomic desing, we have in house experts in all our products.
We supplie components an materials for all those who want to build their own custom keyborads. We also manufacture finishes produts for those who just want plug and play experience or have especial need due to Carpal Tunnel syndrome, Arthritis, Tendonitis, & RSI (Repetitive stress injury).
If you have an motor disabilities problem we can help you.
 Keyboard accessibility is one of the most important aspects of web accessibility. Many users with motor disabilities rely on a keyboard. Some people have tremors which don't allow for fine muscle control. Others have little or no use of their hands, or no hands at all. In addition to traditional keyboards, some users may use modified keyboards or other hardware that mimics the functionality of a keyboard. Blind users also typically use a keyboard for navigation. Users without disabilities may use a keyboard for navigation because of preference or efficiency. </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quo nam excepturi, pariatur aspernatur ea
            ex, eum enim tempore minus iste culpa. Necessitatibus itaque praesentium fuga sit optio quis in?</p>
    </div>
     <hr>
         <div class="testimonios right gapbottom">
      
            <div class="testimonio">

                <h2>Certificates</h2>
                     <img src="images/badge-community-dark.png" width="200" alt="badge-community">
                <h2>QMK Customs</h2>
                <span class="cita">Excelente Service</span>
                <span class="autor">Juan Perez - zapatos.com</span>
            </div>
        </div>
    </hr>
</main>